<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.jllp"
    version   = "1.0.0">

<name>
    PF - Agenda de Servicios
</name>

<description>
Proyecto Final - Agenda de Servicios
</description>

<author href="" email="jorjayszx21@gmail.com">
Jorge luis Lopez Perez
</author>


<plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <icon src="images/soporte.png" gap:platform="android" gap:density="hdpi" />
<plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />



</widget>
